<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Chamada Inteligente</title>

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link rel="stylesheet" href="styles/style.css">
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark">
		<div class="container-fluid">
			<a class="navbar-brand" href="index.html">HOME</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link" href="iniciar-chamada.html">Iniciar Chamada</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="aluno.html">Aluno</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="prof.html">Professor</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: #ffffff73!important">
							Opções
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="#">Gerenciar Turmas</a>
							<a class="dropdown-item" href="#">Gerenciar Alunos</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="#">Gerenciar Professores</a>
						</div>
					</li>
				</ul>
				<a class="navbar-brand" href="login prof.html">Sair
					<svg xmlns="http://www.w3.org/2000/svg" width="20" fill="Red" height="16" fill="currentColor"
						class="bi bi-door-open-fill" viewBox="0 0 20 20"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" 	stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g id="layer1"> <path d="M 0 1 L 0 20 L 12 20 L 12 16 L 11 16 L 11 19 L 1 19 L 1 2 L 11 2 L 11 5 L 12 5 L 12 	1 L 0 1 z M 15 7 L 18 10 L 5 10 L 5 11 L 18 11 L 15 14 L 16.5 14 L 20 10.5 L 16.5 7 L 15 7 z " style="fill:#ffffff; fill-opacity:1; stroke:none; stroke-width:0px;"></	path></g></g></svg>
				</a>
			</div>
		</div>
	</nav>


	<div class="container container-geral">

		<h1 class="presentation-text">Suas Turmas</h1>

		<table class="table">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Turma</th>
					<th scope="col">Dia</th>
					<th scope="col">Horário</th>
					<th scope="col">Opções</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th scope="row">1</th>
					<td>Gerência de Projetos e Manutenção de Software - A1</td>
					<td>Terça-Feira</td>
					<td>18h - 22h</td>
					<td>
						<button type="button" class="btn btn-primary btn-agree" data-bs-toggle="modal" data-bs-target="#myModal"> Presença </button>
						<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal"> Relatórios de Chamada</button>
						<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal"> Solicitar Abono de Falta </button>
					</td>
				</tr>
				<tr>
					<th scope="row">2</th>
					<td>Arquitetura de Computadores - B2</td>
					<td>Quarta-Feira</td>
					<td>18h - 22h</td>
					<td>
						<button type="button" class="btn btn-primary btn-agree" data-bs-toggle="modal" data-bs-target="#myModal"> Aulas Anteriores </button>
						<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal"> Relatórios </button>
						<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal"> Solicitar Abono de Falta </button>
					</td>
				</tr>
				<tr>
					<th scope="row">3</th>
					<td>Programação Orientada a Objetos - C3</td>
					<td>Quinta-Feira</td>
					<td>18h - 22h</td>
					<td>
						<button type="button" class="btn btn-primary btn-agree" data-bs-toggle="modal" data-bs-target="#myModal"> Aulas Anteriores </button>
						<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal"> Relatórios </button>
						<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal"> Solicitar Abono de Falta </button>
					</td>
				</tr>
			</tbody>
		</table>

		<!-- The Modal -->
		<div class="modal fade" id="myModal">
			<div class="modal-dialog">
				<div class="modal-content">

					<!-- Modal Header -->
					<div class="modal-header">
						<h4 class="modal-title">Aula Acontecendo Agora!</h4>
						<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
					</div>

					<!-- Modal body -->
					<div class="modal-body"> Sua aula já começou! </div>

					<!-- Modal footer -->
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" data-bs-dismiss="modal">Dar Presença</button>
						<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fechar</button>
					</div>
				</div>
			</div>
		</div>
	</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>
</body>
<footer>
	<h6>Gerência de Projeto © Grupo 2</h6>
	<p>10/2023 - Sistemas de Informações - UFF</p>
</footer>

</html>