<html>
<head>
    <title>GPS</title>
    <script>
        function obterLocalizacao() {
            if ("geolocation" in navigator) {
                navigator.geolocation.getCurrentPosition(function(position) {
                    var latitude = position.coords.latitude;
                    var longitude = position.coords.longitude;

                    // Enviar localização para o servidor
                    enviarLocalizacao(latitude, longitude);
                });
            } else {
                alert("Geolocalização não é suportada neste navegador.");
            }
        }

        function enviarLocalizacao(latitude, longitude) {
            let x = Math.random() * 1000;
            var num_str = Math.floor(x).toString()
            fetch("http://localhost:5000/SalvarLocalizacao", {
                method: "POST",
                body: JSON.stringify({
                    latitude: latitude,
                    longitude: longitude,
                    id: num_str
                }),
                headers: {
                    "Content-type": "application/json; charset=UTF-8"
                }
            });

            // var xhr = new XMLHttpRequest();
            // xhr.open("POST", "SalvarLocalizacao", true);
            // xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            // xhr.send("latitude=" + latitude + "&longitude=" + longitude);
        }
    </script>
</head>
<body>
    <h1>GPS</h1>
    <button onclick="obterLocalizacao()">Get LatLong</button>

    <div>
        
        <table>
            <tr>
                <th>index</th>
                <th>idUsuario</th>
                <th>lat</th>
                <th>long</th>
            </tr>
            {% for dado in dados %}
            <tr>
                <td>{{dado[0]}}</td>
                <td>{{dado[1]}}</td>
                <td>{{dado[2]}}</td>
                <td>{{dado[3]}}</td>
            </tr>
            {% endfor %}
        </table>                  
                
        
    </div>
</body>
</html>