<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chamada Inteligente</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark">
		<div class="container-fluid">
			<a class="navbar-brand" href="index.html">HOME</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link" href="iniciar_chamada.html">Iniciar Chamada</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="aluno.html">Aluno</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="prof.html">Professor</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: #ffffff73!important">
							Opções
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="#">Gerenciar Turmas</a>
							<a class="dropdown-item" href="#">Gerenciar Alunos</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="#">Gerenciar Professores</a>
						</div>
					</li>
				</ul>
				<a class="navbar-brand" href="login prof.html">Sair
					<svg xmlns="http://www.w3.org/2000/svg" width="20" fill="Red" height="16" fill="currentColor"
						class="bi bi-door-open-fill" viewBox="0 0 20 20"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" 	stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g id="layer1"> <path d="M 0 1 L 0 20 L 12 20 L 12 16 L 11 16 L 11 19 L 1 19 L 1 2 L 11 2 L 11 5 L 12 5 L 12 	1 L 0 1 z M 15 7 L 18 10 L 5 10 L 5 11 L 18 11 L 15 14 L 16.5 14 L 20 10.5 L 16.5 7 L 15 7 z " style="fill:#ffffff; fill-opacity:1; stroke:none; stroke-width:0px;"></	path></g></g></svg>
				</a>
			</div>
		</div>
	</nav>


	<div class="container container-geral">
		<h1 class="presentation-text">Configurando chamada na turma: {{desc_turma}}</h1>



	<br>
	<button class="btn btn-primary btn-block mb-4" onclick="obterLocalizacao()">Atualizar Minha Localização</button>	
	<div id="endereco"></div>
	

	
	<form action="/cria_chamada" method="post">
		<section id="cria_chamada">
			<input type="hidden" name="geoloc" id="geoloc" value="">
			<input type="hidden" name="idTurma" value={{idTurma}}>

			<div class="form-outline col-4">
				<label class="form-check-label" for="data_ini">Data de início da chamada</label>
				<input class="form-control" type="date" name="data_ini" id="data_ini" required>
			</div>
			<div class="form-outline col-4">
				<label class="form-check-label" for="hora_ini">Hora de início da chamada</label>
				<input class="form-control" type="time" name="hora_ini" id="hora_ini" required>
			</div>
			<div class="form-outline col-4">
				<label class="form-check-label" for="data_fim">Data de fim da chamada</label>
				<input class="form-control" type="date" name="data_fim" id="data_fim" required>
			</div>
			<div class="form-outline col-4">
				<label class="form-check-label" for="hora_fim">Hora de fim da chamada</label>
				<input class="form-control" type="time" name="hora_fim" id="hora_fim" required>			
			</div>
			<button class="btn btn-primary btn-block mb-4 btn-agree" type ="submit" value="cadastrar" id="btn-cadastrar">CADASTRAR</button>					
		</section>
	</form>

	<script>
        function obterLocalizacao() {
            if ("geolocation" in navigator) {
                navigator.geolocation.getCurrentPosition(async function(position) {
                    var latitude = position.coords.latitude;
                    var longitude = position.coords.longitude;
					
                    // Enviar localização para o servidor
                    // enviarLocalizacao(latitude, longitude);
					document.getElementById("geoloc").value = `${latitude},${longitude}`
					document.getElementById("endereco").innerHTML = await descobrirEndereco(latitude,longitude)
                });
            } else {
                alert("Geolocalização não é suportada neste navegador.");
            }
        }

		async function descobrirEndereco(latitude, longitude){
			var url = `https://maps.googleapis.com/maps/api/geocode/json?latlng=${latitude},${longitude}&sensor=true&key=AIzaSyBVm-76I3Vi78atDYs-J2w4sKeK-KSBxP0`
			let data;			
			
			var resultado =  await fetch(url)
			var resultado_json = await resultado.json()
			
			return resultado_json["results"][0]["formatted_address"]			
		}

        function enviarLocalizacao(latitude, longitude) {
            let x = Math.random() * 1000;
            var num_str = Math.floor(x).toString()
            fetch("http://localhost:5000/SalvarLocalizacao", {
                method: "POST",
                body: JSON.stringify({
                    latitude: latitude,
                    longitude: longitude,
                    id: num_str
                }),
                headers: {
                    "Content-type": "application/json; charset=UTF-8"
                }
            });
        }
    </script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
			crossorigin="anonymous"></script>
</body>
<footer>
	<h6>Gerência de Projeto © Grupo 2</h6>
	<p>10/2023 - Sistemas de Informações - UFF</p>
</footer>

</html>