<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Login</h1>
    <div id="container-login">
        <form action="/login" method="post">
            <section id="login">
                <label for="nome">Usuario</label>
                <input type="text" name="nome" id="nome" required>
                <label for="Senha">Senha</label>
                <input type="password" name="senha" id="senha" required>
                <button type ="submit" value="entrar" id="btn-entrar">ENTRAR</button>                
            </section>
        </form>        
    </div>
    <br><br>
    <a href="move_cadastro">Cadastro</a>
</body>
</html>