<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }   
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela Professor</title>
    <a href="gera_form_cria_turma">Cria turma</a>
    {% if flag_form:%}
    <div id="container-cria_turma">
        <form action="/cria_turma" method="post">
            <section id="cria_turma">
                <label for="cod_disciplina">Código da disciplina:</label>
                <input type="text" name="cod_disciplina" id="cod_disciplina" required>
                <label for="periodo">Período da disciplina:</label>
                <input type="text" name="periodo" id="periodo" required>      
                <label for="desc_turma">Descrição da turma:</label>
                <input type="text" name="desc_turma" id="desc_turma" size="50" required>                          
                <button type ="submit" value="criar" id="btn-criar_turma">CRIAR TURMA</button>                
            </section>
        </form>        
    </div>
    <br>
    {% endif %}
    <div>        
        <table>
            <tr>
                <th>Descricao Turma</th>
                <th>Periodo</th>                
            </tr>
            {% for turma in session.get("dados_turmas")  %}
            <tr>
                <td>{{turma[0]}}</td>
                <td>{{turma[1]}}</td>                
            </tr><a href="turma_redirect">Ir para turma</a>
            {% endfor %}
        </table> 
    </div>


</head>
<body>
    
</body>
</html>