<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Turma</title>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }   
    </style>   
</head>
<body>
    <div>        
        <table>
            <tr>                
                <th>Data</th>                               
            </tr>
            
            {% for aula in aulas_turma %}
            <tr>                
                <td>{{aula[1]}}</td>                
                <td><a class="btn btn-danger" type="button" href="/show_aula/{{aula[0]}}">Ir para aula</a></td>                                                 
            </tr> 
            {% endfor %}=
        </table> 
    </div>
</body>
</html>